
/* ======= general ======= */
body {
    font-family: 'Signika', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top, #777, #ccc);
    background: -moz-linear-gradient( to top, #777, #ccc);
    background: -ms-linear-gradient( to top, #777, #ccc);
    background: -o-linear-gradient( to top, #777, #ccc);
    background: linear-gradient( to top, #777, #ccc);
}
#banner {
	position: absolute;
	top: 10px;
	left: 10px;
}

/* ======= grid_image ======= */
.grid_item {
    width: 86px;
    height: 110px;
    margin: 10px 0 0 10px;
    text-align: center;
    background-color: #aaa;
}
.grid_image {
    width: 86px;
    height: auto;
}
.grid_text {
    margin-top: 2px;
    font-size: 1em;
    font-weight: 400;
    color: orange;
}

/* ======= hover text ======= */
#hover_box {
    position: absolute;
    left: 10px;
    top: 242px;
    width: 520px;
    height: 35px;
    padding: 10px 10px 0 10px;
    background-color: #aaa;
    text-align: right;
    z-index: 2;
}
.hover_text {
    font-size: 1.4em;
    font-weight: 400;
    color: #666699;
}
.loading{
    color: red;
}

/* ======= info ======= */
#monitor_box {
    position: absolute;
    left: 740px;
    top: 10px;
    width: 160px;
    height: 35px;
    padding-left: 10px;
    text-align: left;
	z-index: 2;
}

.tab_box_selected {
    width: 190px;
    height: 40px;
    text-align: center;
    border: solid 2px #666699;
    border-bottom: solid 2px #aaa;
    z-index: 2;
}
.tab_box_active {
    width: 190px;
    height: 35px;
    text-align: center;
    border: solid 2px #666699;
    border-bottom: solid 2px #aaa;
    z-index: 1;
}
#shop_tab {
    position: absolute;
    left: 740px;
    top: 242px;
    background-color: #aaa;
    border-bottom: solid 2px #aaa;
}
#studio_tab, #studioTabOutline {
    position: absolute;
    left: 540px;
    top: 242px;
    background-color: gray;
}
#studio_tab {
	border-bottom: solid 2px gray;
    z-index: 2;
}
#studioTabOutline {
	background-color: rgba(255, 255, 255, 0.09);
    z-index: 2;
}
#lesson_tab {
    position: absolute;
    left: 934px;
    top: 242px;
    text-align: center;
    background-color: #aaa;
}
.label_text_selected, .label_text_inert {
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 2px 2px #555;
    color: #ffbf80;
    z-index: 2;
}
.label_text_active {
    display: block;
    height: 100%;
    padding: 5px 0;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    color: #ffbf80;
    z-index: 1;
}
/*.inactive {
    display: block;
    height: 35px;
    border-bottom: solid 2px #aaa;
}*/
.label_text_selected:hover, .label_text_active:hover {
    background-color: #666699;
}

/* ======= display areas ======= */
.display {
    background-color: white;
    border-top: solid 2px #666699;
    border-left: solid 2px #666699;
    z-index: 1;
}
#lessonMenuDisplay, #storeroomMenuDisplay, #lessonTextDisplay {
    position: absolute;
    left: 740px;
    top: 280px;
    width: 384px;
    height: 405px;
    overflow-y: scroll;
}
#lessonMenuDisplay, #storeroomMenuDisplay, #lessonTextDisplay {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top, #777, #aaa);
    background: -moz-linear-gradient( to top, #777, #aaa);
    background: -ms-linear-gradient( to top, #777, #aaa);
    background: -o-linear-gradient( to top, #777, #aaa);
    background: linear-gradient( to top, #777, #aaa);
}
#lessonMenuDisplay {
	display: block;
}
#storeroomMenuDisplay {
	display: none;
}
#lessonTextDisplay {
	display: none;
}
#locXYWH {
	left: 0;
	top: 0;
	width: 100px;
	height: 50px;
	background-color: white;
}
.info-text {
	margin: 10px 10px;
	color: purple;
}

/* ======= menus ======= */
#lessonMenu, #gearMenu {
    display: block;
    margin: 0;
    padding: 5px 0;
    text-decoration: none;
    list-style-type: none;}
#lessonMenu > li, #gearMenu > li {
    display: block;
}
.lessonItem, .gearItem, .active, .inactive {
    display: block;
    height: 70px;
    padding: 10px 10px;
    border-bottom: solid 1px gray;
}

/* ======= active menu items ======= */
.active {
	background-color: #aaa;
}
.active:hover {
    display: block;
    background-color: lightsteelblue;
}
.active:hover > .menu_title_active {
    color: #666699;
}
.active:hover > .menu_text_active {
    color: purple;
}
.menu_title_active {
	display: block;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 400;
}
.active > .menu_title_active {
    color: purple;
}
.menu_text_active {
	display: block;
    margin: 5px 10px;
    padding: 0;
    font-size: 1.0em;
    font-weight: 200;
}
.active > .menu_text_active {
    color: yellow;
}

/* ======= inactive menu items ======= */
.inactive {
	background-color: #999;
}
.inactive > .menu_title_active {
    color: gray;
}
.inactive > .menu_text_active {
    color: gray;
}

/* ======= selected menu items ======= */
.menu_title_selected {
	display: list-item;
	width: 90%;
}
.menu_text_selected {
	display: list-item;
	width: 90%;
}
.selectedLesson {
	display: inline-block;
	float: left;
	width: 80%;
    height: 70px;
	margin: 0 0 20px 0;
    padding: 10px 10px 30px 10px;
    background-color: #aaa;
    border-bottom: solid 1px gray;
}
.hilight {
	color: purple;
}

/* ======= gear labels ======= */
.gearItem {
	width:100%;
	height: 85px;
}
.gearImage {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 20px;
	border: solid 1px gray;
	/*background-color: red;*/
}
.gear_label_active {
	display: block;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 400;
	color: purple;
}
.gear_text_active {
	display: block;
    margin: 5px 10px;
    padding: 0;
    font-size: 1.0em;
    font-weight: 200;
	color: yellow;
}

/* ======= navPanel ======= */
#navPanel {
	display: inline-block;
	width: 18%;
	height: auto;
	margin-bottom: 30px;
}
.panelBtn {
	width: 100%;
	height: 30px;
	margin: 4px;
	padding: 6px;
	border-radius: 2px;
	text-align: center;
}
.panelLabel {
	color: purple;
}
#prevBtn {
	background-color: #ccccff;
}
#nextBtn {
	background-color: #ffbb99;
}
#prevBtn:hover {
	color: white;
	background-color: #b3b3ff;
}
#nextBtn:hover {
	color: white;
	background-color: #ffcc99;
}

/* ======= lessons ======= */
.hide {
	display: none;
}
#lessonText {
	height: 0;
	opacity: 0;
}
#lessonText > p {
	margin: 15px;
	line-height: 30px;
	color: #222;
}

/* ======= canvases ======= */
canvas {
    border: solid 2px #666699;
    z-index: 1;
}
#studioCanvas, #studioOutline  {
    position: absolute;
    left: 10px;
    top: 280px;
	width: 720px;
    height: 405px;
}
#studioCanvas {
	/*opacity: 0;*/
	background-color: gray;
}
#studioOutline {
	border: solid 2px #666699;
	background-color: rgba(255, 255, 255, 0.05);
    z-index: 0;
}
#monitorCanvas, #monitorOutline  {
    position: absolute;
    left: 740px;
    top: 10px;
    width: 384px;
    height: 216px;
}
#monitorCanvas {
	/*opacity: 0;*/
	background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 8px 8px 8px rgba(60, 10, 20, 0.7);
}
#monitorOutline {
	border: solid 2px #666699;
	background-color: rgba(255, 255, 255, 0.05);
    z-index: 0;
}

/* ======= targets ======= */
.target {
	border: solid 5px red;
	box-shadow: 8px 8px 8px rgba(60, 10, 20, 0.7);
}
.target:hover {
	border: solid 5px green;
}
.setupTarget {
	border: solid 5px red;
}
.setupTarget:hover {
	border: solid 5px green;
}

/* ======= controls ======= */
.control-border {
	border: solid 5px yellow;
	box-shadow: 8px 8px 8px rgba(60, 10, 20, 0.7);
}

/* ======= message ======= */
#message-box {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 520px;
    height: auto;
    padding-bottom: 8px;
    background-color: #ddd;
    box-shadow: 5px 5px 5px #444;
    border-radius: 2px;
    z-index: 99;
}
#messageHead {
    margin: 0;
	text-align: center;
	padding-left: 10px;
    padding: 2px;
    background-color: orange;
}
#message-text {
    display: block;
    margin: 10px;
    color: blue;
}
#message-text > .project-link {
	display: block;
	width: 100%;
	font-weight: normal;
	font-style: normal;
	color: red;
	background-color: #ddd;
}
#close-message {
    margin-left: 10px;
}
